@font-face{
  font-family: fontAqua;
  src: url(fonts/aqua.ttf);
}

.navbar{
  margin-bottom: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    padding-top: 10px;
     padding-bottom: 10px;
     font-family: verdana;
}

.navbar .navbar-collapse {
    text-align: center;

}

.headingFront{
  text-align: center;
    background-image: url("pictures/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    height: 100vh;
    width: 99vw;
    color: white;
    font-family: fontAqua;

}
.header{
  text-align: center;
  padding-top: 75px;
  padding-bottom: 50px;
  /* height: 100vh; */
  width: 99vw;
  font-family: fontAqua;
  font-weight: bold;
  text-decoration: underline;
}
h1{
  font-size: 3vw!important;
}
h2{
  font-size:2vw!important;
}
h4{
  font-size:1.5vw!important;
}
#college{
  color:red;
}
#Title{
  padding-bottom: 0px;

}
#First{
    margin-left: 50px;
    font-size:1.4vw;
}
img{
  max-width: 100%;
  max-height: 100%;
  /* max-height:100%; */
  background-size: 100vw 100vh!important;
  /* background-size: cover;
  -ms-background-size:cover;
  -o-background-size: cover;
  -moz-background-size:cover;
  -webkit-background-size:cover; */

  margin:auto!important;
}
p{

    font-family: Verdana;
}
body{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: fontAqua;
  height: 2500px;
}
.second{
  background-color: LightGray;
}
